{
  "plugins": [
    "transform-class-properties",
    [
      "wrap-in-js",
      { "extensions": ["css$", "scss$"] }
    ],
    "babel-plugin-inline-import-graphql-ast"
  ],
  "presets": ["next/babel"]
}
