.SingleDatePicker {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: .28571429rem;
}

.SingleDatePicker > div {
  padding: 1px;
}

.SingleDatePickerInput {
  border: 0;
}

.SingleDatePickerInput__calendar-icon {
  padding: 2px;
  margin: 0 5px;
}

.DateInput {
  width: 90%;
  padding: 0;
}

select {
  height: 37px !important;
}

.sortable-helper {
  pointer-events: auto !important;
}

.table-row {
  cursor: pointer;
}

.table-row:hover {
  background-color: rgba(0, 0, 0, .05);
}

.ui.basic.button.button-link {
  box-shadow: none !important;
  color: #4183c4 !important;
  padding: 0;
  margin: 0;
}

.ui.basic.button.button-link:hover {
  color: #1e70bf !important;
}
