.react-date-field--theme-default, .react-date-field--focused {
  border: 0 !important;
}

select {
  height: 37px !important;
}

.sortable-helper {
  pointer-events: auto !important;
}

.table-row {
  cursor: pointer;
}

.table-row:hover {
  background-color: rgba(0, 0, 0, .05);
}
